.user-container {
    display: flex;
    height: 100vh;

  }
  
  .column {
    flex: 1;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid gray;
  }
  
  .header {
    color: white;
    background-color: gray;
    padding: 5px;
    margin-bottom: 10px;
  }
  